@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply
      bg-gray-950
      text-gray-50
  }
  input[type="text"]{
    @apply
      w-12
      px-2 py-1.5
      text-2xl font-normal
      bg-transparent
      outline-none ring-transparent
      rounded-md border
      border-gray-800
      focus:border-gray-50
      placeholder:text-sm placeholder:translate-y-[-3px]
      placeholder:text-gray-600
  }
}